*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  position: relative;
}

.tabs {
  max-width: 600px;
}

.controls {
  display: flex;
  margin-bottom: 4px;
}

.controls__item {
  padding: 10px 20px;
  border: 1px solid gray;
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.controls__item--active {
  background-color: palevioletred;
  color: white;
}

.controls__item:not(:last-child) {
  margin-right: 4px;
}

.pane {
  display: none;
  padding: 15px;

  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  animation: fadeEffect 500ms;
}

.pane--active {
  display: block;
}

.pane__fruit {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 48px;
}

.pane__text {
  margin-bottom: 0;
}

/* Анимации */
/* 
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* МАГАЗИН */
.list-item-fruts {
  display: flex;
  justify-content: space-around;
}

li {
  /* display: flex;
  justify-content: center; */
  width: 200px;
  list-style: none;
  border: 1px rgb(112, 112, 112) solid;
}

p:hover {
  font-size: 14px;
}

li:hover {
  background-color: rgb(248, 211, 211);
}
h1 {
  text-align: center;
}
li p {
  text-align: center;
  border: 1px gray solid;
  cursor: pointer;
  padding: 5px;
}

.basket-js {
  position: absolute;
  z-index: 2;
  top: 28px;
  right: 42px;
  width: 35px;
  height: 35px;
  border-bottom: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;
}

.basket-js:hover {
  width: 40px;
  height: 40px;
  top: 26px;
  right: 36px;
}

.shopping-list-item {
  width: fit-content;
}
